<!DOCTYPE html>
<html lang="pt_br">
<head>
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<style type="text/css">
</style>
</head>
<body>

    <h1>Full Cycle Rocks!</h1><br><br>.
    <ul class="name"></ul>
    <% for(var i=0; i<name.length; i++) { %>   
        <li><%- name[i].name></li> 
    <% }; %>
    </ul>   

</body>
</html>